<!DOCTYPE html>
<% if (streetNameList.length > 1) { %>
    <% streetNameList.slice(0, 6).forEach(streetName => { %>
        <li class="list-group-item street"><%= streetName %></li>
    <% }); %>
<% }
else { %>
    <% addressListFiltered.slice(0, 6).forEach(address => { %>
        <li class="list-group-item address"><%= address.name %></li>
    <% }); %>
<% } %>
